#python
.venv/
.env
__pycache__/
/src/frontend
src/backend/routes/auth_routes.py
src/backend/database/family_unit.py
src/backend/database/__pycache__/firestore.cpython-310.pyc
src/backend/database/family_member.py
src/backend/main.py
src/backend/routes/calendar_routes.py
src/backend/routes/chore_routes.py
src/backend/routes/pin_avatar_routes.py
src/backend/routes/progress_routes.py
src/backend/routes/signup_routes.py
src/backend/routes/signup_routes.py
src/frontend/child_progress.py
src/frontend/chore_creation.py
src/frontend/chore_details.py
src/frontend/family_calendar.py
src/frontend/login_page.py
